extends ../layouts/main-layout

block content
  h1 Messages Board
  div 
    if user
      a(href="/messages") Create a new message
      if user.membership_status === "basic"
        a(href="/membership") Join the club
      a(href="/auth/logout") Logout
    else 
      a(href="/auth/login") Login
  ul
    each message in messages
      li
        h3 #{message.title}
        if user && user.membership_status  !== "basic"
          p #{message.created_at}
          p #{message.first_name} #{message.last_name}
        p #{message.message}
        if user && user.membership_status === "admin"
          a(href=`/messages/${message.message_id}/delete`) Delete