extends ../layouts/main-layout

block content
  h1 Messages Board
  div 
    a(href="/messages/create") Create a new message
    a(href="/membership") Join the club
    a(href="/logout") Logout
  ul
    each message in messages
      li
        h3 #{message.title}
        p #{message.created_at}
        if user.membership_status === "premium"
          p #{message.first_name} #{message.last_name}
        p #{message.message}